* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
}

/* .logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.subheader {
  color: #1ed760;
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials {
  background-image: url("/src/assets/github-mark-white-24.png");
  background-color: rgb(70, 63, 63);
  background-repeat: no-repeat;
  background-position: 16px 8px;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  height: calc(8px + 8px + 24px);
  padding-left: calc(16px + 24px + 8px);
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  margin: 16px;
}

.socials a {
  text-decoration: none;
  color:#ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.generate {
  margin-top: 32px;
  background-color: #1db954;
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 16px;
  padding: 16px 32px;
  cursor: pointer;
  font-weight: bold;
}

.results {
  margin: 24px;
}

.reminder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.track {
  display: flex;
  background-color: #68eb96;
  margin: 8px;
  border: 1px solid #1ed760;
  border-radius: 4px;
  width: 700px;
}

.trackImage {
  display: block;
  border-radius: 4px;
  border: 2px solid #fff;
}

.trackContent {
  padding: 8px;

}